* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#main-canvas {
  position: absolute;
  height: 100%;
  width: 75%;
}

#ui{
  position: absolute;
  left: 70%;
  width: 30%;
  height: 100%;
  overflow: auto;
}
